@model IEnumerable<Issue>;

@{
    ViewData["Title"] = "Замечания";
}

<a asp-controller="Issues" asp-action="Add" asp-route-projectId="@ViewBag.ProjectId" class="btn btn-outline-success">Добавить</a>
<div class="row">
    <h1>Замечания к проекту</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Дата создания</th>
                <th>Дата отработки</th>
                <th>Раздел</th>
                <th>Наименование</th>
                <th>Создатель</th>
                <th>Исполнитель</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var issue in Model)
            {
                <tr>
                    <td>@issue.Id</td>
                    <td>@issue.CreationDateTime</td>
                    <td>@issue.CompletionDateTime</td>
                    <td>@EnumHelper.GetDisplayName(issue.Discipline)</td>
                    <td>@issue.Name</td>
                    @if (issue.Creator != null)
                    {
                        <td>@issue.Creator.FullName</td>
                    }
                    else
                    {
                        <td>
                            <span class="badge bg-danger text-white">Не назначен</span>
                        </td>
                    }

                    @if (issue.Executor != null)
                    {
                        <td>@issue.Executor.FullName</td>
                    }
                    else
                    {
                        <td>
                            <span class="badge bg-danger text-white">Не назначен</span>
                        </td>
                    }

                    @if (issue.Status == IssueStatus.Active)
                    {
                        <td class="card-text">
                            <span class="badge bg-primary text-white">@EnumHelper.GetDisplayName(issue.Status)</span>
                        </td>
                    }
                    else if (issue.Status == IssueStatus.Fixed)
                    {
                        <td class="card-text">
                            <span class="badge bg-success text-white">@EnumHelper.GetDisplayName(issue.Status)</span>
                        </td>
                    }
                    else if (issue.Status == IssueStatus.Suspended)
                    {
                        <td class="card-text">
                            <span class="badge bg-secondary text-white">@EnumHelper.GetDisplayName(issue.Status)</span>
                        </td>
                    }
                    else
                    {
                        <td class="card-text">
                            <span class="badge bg-success text-white">@EnumHelper.GetDisplayName(issue.Status)</span>
                        </td>
                    }

                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Issues" asp-action="Details" asp-route-projectId="@issue.ProjectId" asp-route-id="@issue.Id">Подробнее</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a class="btn btn-outline-primary" asp-controller="Projects" asp-action="Index">Назад</a>
